form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .auth{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .registration-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .registration-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .registration-link a:hover {
    text-decoration: underline;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    form {
      padding: 15px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
  